.top-nav {
  &__spread {
    background-color: mui-color("blue");
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: mui-color("white");
    text-align: center;
  }

  &__content {
    flex: 1;
  }

  &__brand-link {
    @include mui-text("display1");
    line-height: 2.0;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &__menu-list-item {
    @include mui-text("menu");
    flex: 1;
    text-align: center;
    line-height: 2.0;
    margin: 0;
    vertical-align: middle;
  }
}


@media only screen and (min-width: $width-tablet-portrait) {
  .top-nav {
    &__container {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }
  }
}
