.sandbox
  = render partial: 'partials/composition', locals: { composition: @sandbox.composition }
  = render partial: 'partials/score', locals: { sandbox: @sandbox }
  = render partial: 'partials/annotations', locals: { annotations: @sandbox.composition.cantus_firmus_issues }
