.style-guide__typography
  .style-guide__container
    .text-display4 Display4
    .text-display3 Display3
    .text-display2 Display2
    .text-display1 Display1
    .text-headline Headline
    .text-title Title
    .text-subhead Subhead
    .text-body2 Body2
    .text-body1 Body1
    .text-caption Caption
    .text-menu Menu
    .text-button Button
  .style-guide__container.style-guide__container--on-dark
    .text-display4 Display4
    .text-display3 Display3
    .text-display2 Display2
    .text-display1 Display1
    .text-headline Headline
    .text-title Title
    .text-subhead Subhead
    .text-body2 Body2
    .text-body1 Body1
    .text-caption Caption
    .text-menu Menu
    .text-button Button
  .style-guide__container
    .text-display4 Display4
    .text-display3 Display3
    .text-display2 Display2
    .text-display1 Display1
    .text-headline Headline
    .text-title Title
    .text-subhead Subhead
    .text-body2 Body2
    .text-body1 Body1
    .text-caption Caption
    .text-menu Menu
    .text-button Button
